{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Round {{subsession.round_number}} out of {{Constants.num_rounds}}.
{% endblock %}

{% block content %}
<p>
    {% if subsession.round_number == 1 %}
    You were assigned to a group of 4 participants, each representing the mayor of a suburb.
    {% else %}
    You are still assigned to the same group of 4 participants, each representing the mayor of a suburb.
    {% endif %}
    <br>
     {% formfield player.contribution with label=" Please choose how much of your E$10 transport budget you contribute to the tram line." %}
</p>

    {% next_button %}

{% endblock %}
